---
import 'lib/style/index.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>My Spotify</title>
  </head>

  <body>
    <main class="p-8 min-h-screen flex flex-col items-center justify-center">
      <slot />
    </main>
  </body>
</html>
